/*! Brand Colors */
.brand-color-white {
  color: rgba(237, 243, 244, 1);
}

.brand-color-blue {
  color: rgba(37, 84, 123, 1);
}

.brand-color-blue-light {
  color: rgba(132, 172, 196, 1);
}

.brand-color-blue-lighter {
  color: rgba(116, 164, 196, 1);
}

.brand-color-gray {
  color: rgba(114, 135, 155, 1);
}